.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo{
  width:150;
  height:100px;
}
.nav-items{
  padding: 0 20px;
}
.nav-items>ul{
  font-size: 24px; 
  display: flex;
  list-style-type: none;
  
}
.nav-items >ul>li{
  padding: 10px;
  margin: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}
.res-log{
  width: 180px;
}
.restaurant-card{
  width: 200px;
  height:auto;
  border: 1px solid black;
  margin-right: 20px;
}
.search{
  padding: 10px;
}